/* Login.module.css */

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.loginForm {
    text-align: center;
    padding: 25px;
    margin: 10px;
    border: 5px solid #16ea1a;
    border-radius: 10px;
    font-family: Kanit, sans-serif;
    width: 300px;
}

.username,
.password {
    padding: 10px;
}

.usernameInput,
.passwordInput {
    background: #191b1f;
    border-radius: 5px;
    margin: 10px 0;
    border: 1px solid #ccc;
    color: #ffffff;
    font-size: 16px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}

.emailInput {
    margin: 10px 0;
}

.passwordInput {
    margin-top: 10px;
}

.usernameInput:focus,
.passwordInput:focus {
    outline: none;
    border-color: #16ea1a;
}

.buttonLogin,
.buttonRegistration {
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 8px 15px;
    margin: 10px;
    background-color: #191b1f;
    color: #ffffff;
    font-size: 16px;
    transition: 0.35s;
    cursor: pointer;
}

.buttonLogin:hover {
    background-color: rgb(234, 222, 122);
    color: #191b1f;
    border: 1px solid #111111;
}

.buttonRegistration:hover {
    background-color: #16ea1a;
    color: #191b1f;
    border: 1px solid #111111;
}

.error {
    color: #ff0000;
    margin-top: 10px;
    font-size: 14px;
}
