.loginForm {
    text-align: center;
    padding: 25px;
    margin: 10px;
    border: 5px solid #16ea1a;
    border-radius: 10px;
    font-family: Kanit, sans-serif;
    height: 100vh;
}

.email,
.password {
    padding: 10px;
}

.emailInput,
.passwordInput {
    background: #191b1f;
    border-radius: 5px;
    margin: 10px;
    border: 1px solid #ccc;
    color: #ffffff;
    font-size: 20px;
}

.emailInput {
    margin: 10px 20px 0px 36px;
}

.passwordInput {
    margin: 10px 20px 0px 10px;
}

.emailInput:focus {
    outline: none;
    border-color: #16ea1a;
}

.passwordInput:focus {
    outline: none;
    border-color: #16ea1a;
}

.buttonLogin {
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 10px;
    background-color: #191b1f;
    color: #ffffff;
    font-size: 20px;
<<<<<<< HEAD
    transition: 0.35s;
=======
>>>>>>> 7f2da322bd25957f53d2c3ef799950f510ec7aef
}

.buttonRegistration {
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 10px;
    background-color: #191b1f;
    color: #ffffff;
    font-size: 20px;
<<<<<<< HEAD
    transition: 0.35s;
=======
>>>>>>> 7f2da322bd25957f53d2c3ef799950f510ec7aef
}

.buttonLogin:hover {
    background-color: rgb(234, 222, 122);
    color: #191b1f;
    border: 1px solid #111111;
<<<<<<< HEAD
    transition: 0.35s;
=======
>>>>>>> 7f2da322bd25957f53d2c3ef799950f510ec7aef
}

.buttonRegistration:hover {
    background-color: #16ea1a;
    color: #191b1f;
    border: 1px solid #111111;
<<<<<<< HEAD
    transition: 0.35s;
=======
>>>>>>> 7f2da322bd25957f53d2c3ef799950f510ec7aef
}
