/* Registration.module.css */

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.regForm {
    text-align: center;
    padding: 25px;
    margin: 10px;
    border: 5px solid #16ea1a;
    border-radius: 10px;
    font-family: Kanit, sans-serif;
    width: 300px;
}

.username,
.password,
.name,
.surname {
    padding: 10px 10px;
}

.usernameInput,
.passwordInput,
.nameInput,
.surnameInput {
    background: #191b1f;
    border-radius: 5px;
    margin: 10px 0;
    border: 1px solid #ccc;
    color: #ffffff;
    font-size: 16px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}

.usernameInput {
    margin: 10px 0;
}

.surnameInput {
    margin: 10px 0;
}

.passwordInput {
    margin-top: 10px;
}

.usernameInput:focus,
.passwordInput:focus,
.nameInput:focus,
.surnameInput:focus {
    outline: none;
    border-color: #16ea1a;
}

.buttonRegistration,
.buttonLogin {
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 8px 15px;
    margin: 10px;
    background-color: #191b1f;
    color: #ffffff;
    font-size: 16px;
    transition: 0.35s;
    cursor: pointer;
}

.buttonLogin:hover {
    background-color: rgb(234, 222, 122);
    color: #191b1f;
    border: 1px solid #111111;
}

.buttonRegistration:hover {
    background-color: #16ea1a;
    color: #191b1f;
    border: 1px solid #111111;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(51, 50, 50);
    border-radius: 8px;
    padding: 20px;
    max-width: 400px;
    width: 100%;
}

.modalContent {
    text-align: center;
}

.modalButton {
    margin-top: 20px;
}
