.regForm {
    text-align: center;
    padding: 25px;
    margin: 10px;
    border: 5px solid #16ea1a;
    border-radius: 10px;
    font-family: Kanit, sans-serif;
    height: 100vh;
}

.email,
.password,
.name,
.surname {
    padding: 10px 10px;
}

.emailInput,
.passwordInput,
.nameInput,
.surnameInput {
    background: #191b1f;
    border-radius: 5px;
    margin: 10px 20px 0px 40px;
    border: 1px solid #ccc;
    color: #ffffff;
    font-size: 20px;
}

.surnameInput {
    margin: 10px 20px 0px 18px;
}

.passwordInput {
    margin: 10px 20px 0px 15px;
}

.buttonRegistration,
.buttonLogin {
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 10px;
    background-color: #191b1f;
    color: #ffffff;
    font-size: 20px;

    transition: 0.35s;


}

.buttonLogin:hover {
    background-color: rgb(234, 222, 122);
    color: #191b1f;
    border: 1px solid #111111;

    transition: 0.35s;


}

.buttonRegistration:hover {
    background-color: #16ea1a;
    color: #191b1f;
    border: 1px solid #111111;

    transition: 0.35s;


}
