/* NavLinks.module.css */

.navigate {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.navitem {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    margin: 0 10px;
    border-bottom: 1px solid transparent; /* Устанавливаем прозрачную границу по умолчанию */
}

.navitem:hover {
    text-decoration: none;
    border-bottom-color: #fff; /* Изменяем цвет границы при наведении */
}
