a {
    text-decoration: none;
    color: #ffffff;
}
a:hover {
    color: rgb(26, 242, 7);
}

.footer {
    background-color: #000000;
    color: #ffffff;
    font-family: Martian Mono, sans-serif;
    width: 100%;
    margin-top: auto;
}

.footerName {
    text-decoration: underline rgb(26, 242, 7);
}

.footerItem {
    padding: 10px;
    text-align: left;
}

.socials {
    font-size: 25px;
    padding: 10px;
}
