/* SingleProduct.module.css */
.img {
    width: 550px;
    height: 300px;
    justify-content: center;
    padding: 15px;
    border-radius: 25px;
}

.price {
    background-color: rgb(106, 202, 82);
    border-radius: 20px;
}

.description {
    font-size: 18px;
    margin: 10px;
}

/* Стили для слайдера */
.slider {
    max-width: 550px; /* Максимальная ширина слайдера */
    max-height: 300px; /* Максимальная высота слайдера */
}
