/* Pagination.module.css */

.paginationContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.paginationButton {
    background-color: #242424;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 8px 16px;
    margin: 0 5px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.paginationButton:hover {
    background-color: #18b01a;
}

.pageNumbers {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0 10px;
}

.pageNumber {
    padding: 8px 16px;
    margin: 0 5px;
    border-radius: 10px;
    background-color: #2b2929;
    color: #fff;
    border-style: solid;
}

.currentPage {
    padding: 8px 16px;
    margin: 0 5px;
    border-radius: 10px;
    font-weight: bold;
    color: #fff;
    background-color: #00b354; /* Цвет активной кнопки */
    border-style: solid;
}
