/* Filter.module.css */
.filterContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

button {
    background-color: #282928;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
    margin: 5px;
}

button:last-child {
    margin-right: 0; /* У последней кнопки нет правого отступа */
}

button:hover,
button:active,
button:focus {
    background-color: #45a049; /* Цвет для наведения и активного состояния */
}

button:focus {
    outline: none; /* Убирает стандартный браузерный контур фокуса */
}

.activeButton {
    background-color: #45a049; /* Цвет для активной кнопки */
}
